<ion-header>
  <ion-toolbar>
    <ion-title>
      Update/Delete Reviews
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imageDim">
    <img src={{reviewDatas.recipeImage}} />
  </div>
  <div id="textArea">
    <ion-textarea color="tertiary" [(ngModel)]="reviewContent" value = "{{reviewDatas.reviewContent}}">
    </ion-textarea>
  </div>
  <ion-button class="loginButton" (click) = "update()" shape = "round">
    Update
  </ion-button>

  <ion-button class="googleloginButton" (click) = "delete()" shape = "round">
    Delete
  </ion-button>
  <ion-button class="loginButtons" (click) = "record()" shape = "round">
    Record
  </ion-button>
</ion-content>
