<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-title>
      Search
      <ion-icon name="search"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filter($event)" placeholder = "Search here."></ion-searchbar>
<ion-list>
  <ion-card *ngFor = "let item of recipeData" class = "border">
    <ion-item lines = "none" (click) = "passToDetail(item.id)">
      <ion-avatar id = "imageThumbnail">
        <img src = {{item.Image}}/>
        </ion-avatar>
      <div class = "textColor">
      {{item.Name}}
      </div>
      </ion-item>
    </ion-card>

  </ion-list>
</ion-content>
