<ion-header>
</ion-header>

<ion-content>
  <img src="../../assets/logo.png" id="image" />
  <ion-input class="input" placeholder="Enter your username" color = "tertiary" [(ngModel)] = "Username">
  </ion-input>
  <br>
  <ion-input class="input" placeholder="Enter your email" color = "tertiary" [(ngModel)] = "Email">
  </ion-input>
  <br>
  <ion-input class="input" placeholder="Enter your password" type="password" color = "tertiary" [(ngModel)] = "Password">
  </ion-input>
  <br>
  <ion-input class="input" placeholder="Confirm password" type="password" color = "tertiary" [(ngModel)] = "confirmPassword">
  </ion-input>
  <br>

  <ion-button class="loginButton" (click) = "signUp()" shape = "round">
    Sign Up
  </ion-button>
  <ion-button class="googleloginButton" (click) = "googleSignUp()" shape = "round">
    Continue with 
    <br>
    Google
  </ion-button>
</ion-content>